<section class="">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell">

      </div>
      <div class="large-6 cell">
        <h2 class="section-title"></h2>
        <p class="section-description">

        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell">

      </div>
      <div class="large-6 cell">
        <h2 class="section-title"></h2>
        <p class="section-description">

        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell">

      </div>
      <div class="large-6 cell">
        <h2 class="section-title"></h2>
        <p class="section-description">

        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell">

      </div>
      <div class="large-6 cell">
        <h2 class="section-title"></h2>
        <p class="section-description">

        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell">

      </div>
      <div class="large-6 cell">
        <h2 class="section-title"></h2>
        <p class="section-description">

        </p>
      </div>
    </div>
  </div>
</section>
