<!-- three column footer -->
<footer class="three-column-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-4 cell">

      </div>
      <div class="large-4 cell">

      </div>
      <div class="large-4 cell">
        <ul class="vertical menu">
          <li>
            <a href=""></a>
          </li>
          <li>
            <a href=""></a>
          </li>
          <li>
            <a href=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
