<header>
  <div class="grid-container full">
    <div class="grid-x">
      <div class="large-12 cell">
        <img src="" class="" alt="" />
        <h1 class="text-center"><%= config.title %></h1>
        <h2 class="text-center"><%= config.subtitle %></h2>
        <p class="hero-description">
          This is the into description for the site and blog.
        </p>
      </div>
    </div>
  </div>
</header>
